/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    color: #777777;
    font-weight: 400;
    padding: 3rem
}

.header {
    position: relative;
    height: 95vh;
    background-image:
        linear-gradient(to right bottom,
            hsla(111, 55%, 64%, 0.808),
            hsla(160, 64%, 43%, 0.803)),
        url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo-box img {
    height: 3.5rem;
}

.heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.titles {
    color: #fff;
    margin-bottom: 6rem;
    backface-visibility: hidden;
}

.heading-primary {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: leftToRight;
    animation-duration: 1s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 2; */
    animation-timing-function: ease-out;
}

.heading-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    animation: rightToLeft 1s ease-out;
}


@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: .8;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        opacity: .8;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottomToTop {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    position: relative;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
}

.btn-white {
    background-color: #fff;
    color: #777777;
}

.btn-white::after{
    background-color: #fff;
}

.btn-animated{
    animation: bottomToTop .5s ease-out .75s;
    animation-fill-mode: backwards;
}

